[submodule "pcb/libs/nice-nano-kicad"]
	path = pcb/libs/nice-nano-kicad
	url = https://github.com/bstiq/nice-nano-kicad
[submodule "pcb/libs/ProMicroKiCad"]
	path = pcb/libs/ProMicroKiCad
	url = https://github.com/Biacco42/ProMicroKiCad
[submodule "pcb/libs/keyswitches.pretty"]
	path = pcb/libs/keyswitches.pretty
	url = https://github.com/daprice/keyswitches.pretty
[submodule "pcb/libs/Keebio-Parts.pretty"]
	path = pcb/libs/Keebio-Parts.pretty
	url = https://github.com/keebio/Keebio-Parts.pretty
[submodule "pcb/libs/pg1350"]
	path = pcb/libs/pg1350
	url = https://github.com/crides/pg1350
